.go_top{
	display: none;
	
	a{
		position: fixed;
		right: 1vw;
		bottom: 8vh;
		z-index: 999;
		text-align: center;
		background-color: $accent-color;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
		font-weight: 100;
		padding-top: 5px;
		font-size: 1.3rem;
		
		@include media_query(){
			font-size: 1.2rem;
		}
		
		&::before{
		  content: '';
		  width: 15px;
		  height: 15px;
		  margin-bottom: 3px;
		  border: 0px;
		  border-top: solid 1px #fff;
		  border-right: solid 1px #fff;
		  transform: rotate(-45deg);
		  
		  @include media_query(){
		  	width: 10px;
				height: 10px;
		  }
		  
		  transition-property: margin-top;
			transition-duration: .4s;
		}
		
		&:hover{
			&::before{
				margin-top: -15px;
			}
		}
	}
}

.dn{
	display: none !important;
}

.logocafe{
  width: 100%;
  text-align: center;
  font-size: 5rem;
  top: 6vh;
  left: 0;
  margin: 0;
  position: absolute;
  color: $base-color;
  white-space: nowrap;
  font-weight: 300;
  z-index: 99;
  
  span{
    font-feature-settings: "ss02";
    color: $font-color;
  }
  
  @include media_query(){
  	font-size: 7.5vw;
  	position: static;
  	background-color: $main-color;
  	padding: 20px 0 0;
  }
}

.index .logo{
/*
	position: absolute;
	top: 6vh;
	left: 0;
	right: 0;
	z-index: 99;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-size: 5rem;
*/

  font-size: 5rem;
  top: 6vh;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  color: $main-color;
  white-space: nowrap;
  font-weight: 300;
  z-index: 99;

  &:before {
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 50%;
    color: $base-color;
  }
	
	@include media_query(){
  	transform: none;
		position: static;
		color: #000;
		text-align: center;
		padding: 20px 0 0;
		background-color: $main-color;
		
		&:before {
  	  display: none;
    }
	}
	
	@include media_query(640){
		font-size: 8vw;
	}
	
	img{
		vertical-align: bottom;
		border: solid 10px $base-color;
	}
}

.top{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	
	@include media_query(){
		flex-direction: column;
	}
	
	%top_box{
		position: relative;
		display: flex;
		justify-content: center;
		//align-items: center;
		width: 50%;
		height: 85vh;
		padding: 18vh 8vw 8vh;
		
		@include media_query(){
			width: 100%;
			height: auto;
			padding: 30px 20px;
		}
		
		h2{
			font-size: 2rem;
			text-align: center;
			margin-bottom: 10px;
			font-weight: 200;
		}
		
		h3{
			font-size: 2.3rem;
			text-align: center;
			font-weight: 400;
			margin-bottom: 25px;
			color: #000;
		}
		
		p{
			font-size: 1.6rem;
			line-height: 2;
			text-align: center;
			
			@include media_query(){
				text-align: justify;
			}
		}
		
		.small{
  		font-size: .7em;
  		line-height: 1.4;
		}
		
		.datetime{
  		font-size: 2rem;
  		font-weight: 400;
  		margin-bottom: 15px;
  		
  		@include media_query(){
  			text-align: center;
  		}
		}
		.placce{
  		@include media_query(){
  			text-align: center;
  		}
		}
	}
	
	&_coding{
		@extend %top_box;
		background-color: $main-color;
	}
	
	&_design{
		@extend %top_box;
		background-color: $base-color;
	}
	
	&_sp{
  	width: 100%;
  	height: 15vh;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	background-color: #EB593C;
  	color: #fff;
  	
  	@include media_query(){
  		height: auto;
  		padding: 30px 0;
  	}
  	
  	h2{
    	font-size: 1.5rem;
    	
    	@include media_query(){
    		font-size: 1.4rem;
    	}
  	}
  	
  	p{
    	font-size: 1.3rem;
    	margin-top: 5px;
    	
    	@include media_query(){
    		font-size: 1.2rem;
    	}
  	}
	}
}

.top_cafe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  text-align: center;
  background-color: #dbabae;
  color: #fff;
  
  h3{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  p{
    font-size: 2rem;
    font-weight: 200;
  }
  
  @include media_query(){
    height: auto;
    padding: 2em;
  	
  }
}

.cafe{
  .top_coding{
    @extend %top_box;
		background-color: $main-color;
		width: 100%;
		
		@include media_query(812){
			height: auto;
  		min-height: 100vh;
  		padding-bottom: 80px;
  		
  		.btn_more{
    		bottom: 30px;
  		}
		}
		
		@include media_query(){
			padding-bottom: 30px;
			min-height: auto;
			height: 70vh;
		}
  }
  .top_introduction{
    h2{
      font-size: 3rem;
      
      @include media_query(){
      	font-size: 1.8rem;
      }
    }
  }
}


.btn_entry{
	display: block;
	max-width: 300px;
	margin: 30px auto 0;
	padding: 15px 0;
	
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
	border: solid 1px $accent-color;
	color: $base-color;
	background-color: $accent-color;
	
	transition-property: background-color, color;
	transition-duration: .4s;
	
	&:hover{
		background-color: transparent;
		color: $accent-color;
	}
	
	&+.btn_entry{
  	margin-top: 10px;
	}
}

.ap{
  background-color: #00bbd3;
  border: solid 1px #00bbd3;
  
  &:hover{
		background-color: transparent;
		color: #00bbd3;
  }
}

.btn_more{
	position: absolute;
	width: 200px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 5vh;
	padding: 10px 20px;
	
	text-align: center;
	text-decoration: none;
	color: $font-color;
	
	@include media_query(){
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	
	&::before{
	  content: '';
	  width: 15px;
	  height: 15px;
	  border: 0px;
	  border-top: solid 1px $font-color;
	  border-right: solid 1px $font-color;
	  transform: rotate(135deg);
	  position: absolute;
	  top: 100%;
	  right: 50%;
	  bottom: 0;
	  
	  transition-property: top;
		transition-duration: .4s;
	}
	
	&:hover{
		&::before{
			top: 120%;
		}
	}
}

.btn_none{
  background-color: #a1a1a1;
  border: solid 1px #a1a1a1;
  color: #d1d0d2;
  cursor: text;
  &:hover{
		background-color: #a1a1a1;
		color: #d1d0d2;
		opacity: 1;
	}
}




#design{
	background-color: #f7f7f7;
}

#coding{
	background-color: #fff;
}

#sponsored{
  background-color: #f7f7f7;
}

.introduction{
	max-width: 980px;
	margin: 0 auto;
	padding: 100px 20px;
	
	@include media_query(){
		padding: 
      80px
      env(safe-area-inset-right) 
      80px 
      env(safe-area-inset-left);
	}
	
	@include media_query(640){
		padding: 60px 20px;
	}
	
	
	h2{
		font-size: 2rem;
		text-align: center;
		margin-bottom: 10px;
		font-weight: 200;
	}
	
	h3{
		font-size: 2.5rem;
		text-align: center;
		font-weight: 400;
		margin-bottom: 40px;
		color: #000;
	}
	
	p{
  	text-align: center;
  	line-height: 2;
  	margin-bottom: 30px;
  	font-weight: 400;
	}
	
	.text{
  	max-width: 700px;
  	margin: 0 auto 30px;
  	
  	a{
    	text-decoration: underline;
    	
    	&:hover{
      	text-decoration: none;
    	}
  	}
  	
  	@include media_query(640){
  		text-align: justify;
  	}
	}
}

%table{
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	
	@include media_query(){
		width: 100%;
	}
	
	th,td{
		border: solid 1px #c3c3c3;
		padding: .5em 1em;
	}
	
	th{
		font-weight: 400;
		width: 80px;
	}
	
	b{
		font-weight: 400;
	}
}

.info_table{
	@extend %table;
	margin-bottom: 40px;
}

.timetable{
	@extend %table;
	
	tr:nth-child(even){
		background: #f2f2f2;
	}
}

.sponsored_table_wrap{
  overflow: scroll;
  width: 100%;
}

.sponsored_table{
  width: 800px;
	margin: 0 auto;
	background-color: #fff;
	
	@include media_query(){
		width: 800px;
		margin: 0;
	}
	
	th,td{
		border: solid 1px #c3c3c3;
		padding: .5em 1em;
		vertical-align: middle;
		text-align: center;
	}
	
	th{
		font-weight: 600;
		width: 80px;
	}
	
	b{
		font-weight: 400;
	}
	
	tr:nth-child(even){
		background: #f2f2f2;
	}
	
	tr:not(:first-child){
  	th{
    	text-align: left;
    }
	}
}



.about{
	padding: 100px 20px;
	
	@include media_query(){
		padding: 
      80px
      env(safe-area-inset-right) 
      40px 
      env(safe-area-inset-left);
	}
	
	@include media_query(640){
		padding: 30px 20px;
	}
	
	&_inner{
		max-width: 980px;
		margin: 0 auto 50px;
		
		h2{
			font-size: 2rem;
			text-align: center;
			margin-bottom: 20px;
			font-weight: 400;
		}
		
		p+h2{
  		margin-top: 40px;
		}
		
		p{
			text-align: center;
			line-height: 2;
			
			@include media_query(640){
				text-align: justify;
			}
			
			small{
				display: block;
				font-size: 1.3rem;
				line-height: 1.5;
				margin-top: 1em;
			}
		}
	}
}

.member{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 980px;
	margin: 0 auto;
	
	@include media_query(){
		flex-direction: column;
		align-items: center;
	}
	
	&_item{
		text-align: center;
		padding: 0 30px;
		
		@include media_query(){
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
		
		img{
			max-width: 200px;
			max-height: 200px;
			border-radius: 50%;
			margin-bottom: 10px;
			
			img{
				width: 100%;
				height: auto;
			}
		}
		
		h2{
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 10px;
		}
		
		ul{
			li{
				list-style: none;
				
				@include media_query(){
					font-size: 1.4rem;
				}
				
				&:first-child{
					font-weight: 400;
				}
				
				&:not(:last-child){
					margin-bottom: 5px;
				}
				
				a{
					color: $font-color;
				}
			}
		}
	}
}



.footer{
	padding: 10px;
	text-align: center;
	background-color: $font-color;
	color: #fff;
	p{
		font-size: 1.3rem;
		font-weight: 100;
	}
}



.vrp{
  
  .logo{
    position: absolute;
		top: 6vh;
		left: 0;
		right: 0;
		z-index: 99;
		text-align: center;
		color: #000;
		font-weight: 300;
		font-size: 5rem;
		text-align: center;
		
		@include media_query(){
  		position: static;
  		color: #000;
  		text-align: center;
  		padding: 20px 0 0;
  		background-color: $main-color;
  		font-size: 6vw;
  	}
  }
}

.contact{
  border-bottom: solid 1px #333;
  form{
    display: block;
    max-width: 650px;
    margin: 0 auto;
    
    label{
      display: block;
      margin-bottom: 5px;
    }
    
    input,textarea{
      display: block;
      border: none;
      border-radius: 0;
      background: none;
      
      width: 100%;
      padding: .5em;
      margin-bottom: 20px;
      font-size: 1.6rem;
      border: solid 1px #333;
      
      &:focus{
        outline: none;
        border: solid 1px $main-color;
      }
    }
    
    input[type=submit]{
      background-color: transparent;
      color: #333;
      transition-property: border,background-color, color;
    	transition-duration: .4s;
    	
    	&:hover{
    		background-color: $main-color;
    		color: #fff;
    		border: solid 1px $main-color;
    	}
    }
  }
}

.btn_face{
  display: block;
	max-width: 300px;
	margin: 0 auto 0;
	padding: 10px 0;
	
	font-size: 1.4rem;
	text-align: center;
	text-decoration: none;
	border: solid 1px $accent-color;
	color: $base-color;
	background-color: $accent-color;
	
	transition-property: background-color, color;
	transition-duration: .4s;
	
	&:hover{
		background-color: transparent;
		color: $accent-color;
	}
	
	&+.btn_entry{
  	margin-top: 10px;
	}
	
	&+&{
  	margin-top: 10px;
	}
	
}