doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    
    meta(property="og:title", content="広島フロントエンド勉強会")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://hirofuro.org/")
    meta(property="og:image", content="https://hirofuro.org/common/img/logo.png")
    meta(property="og:description", content="広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="")
    meta(name="twitter:title" content="広島フロントエンド勉強会")
    meta(name="twitter:description" content="広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。")
    meta(name="twitter:image" content="https://hirofuro.org/common/img/logo.png")
    
    script(type="application/ld+json").
      [{
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "ヒロフロ交流会",
        "startDate": "2017-12-01T19:00+09:00",
        "endDate": "2017-12-01T21:00+09:00",
        "url": "https://hirofuro.org#coding",
        "image":"http://hirofuro.org/common/img/logo.png",
        "location": {
          "@type": "Place",
          "name": "リードスペース株式会社 広島オフィス",
          "address": "広島県広島市中区上八丁堀7-5 ピロティーヒロシマビル2F",
          "url": "https://www.m-field.biz/company"
        },
        "offers": {
          "@type": "Offer",
          "price": "200",
          "priceCurrency": "JPY",
          "url": "https://hfe.connpass.com/event/71544/",
          "inventoryLevel": "販売中"
        },
        "Performer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://funaffect.jp"
        },
        "organizer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://funaffect.jp"
        },
        "description": "ヒロフロ交流会"
      }]
      
    
    link(rel="stylesheet", href="common/css/style.css")
    link(rel="stylesheet", href="common/fontello/css/fontello.css")
    title ヒロフロ交流会
  body.index
    
    .go_top
      a(href="#") トップへ
    
    .top.cafe
      
      h1.logocafe 広島フロントエンド勉強会
      
      .top_coding
        .top_introduction
          h2 ヒロフロ交流会
          p.datetime 2017年12月9日 16:00 〜 19:00
          p.placce リードスペース株式会社 広島オフィス
            br
            | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
          
          a.btn_entry(href="https://hfe.connpass.com/event/72073/", target="_blank") 参加登録はこちら
          
          a.btn_more(href="#coding") 詳しい情報を見る
          
      
    main#main.main
      
      article#coding
        section.introduction
          h2 ヒロフロ交流会
          
          p.text 広島フロントエンド勉強会とデザイン部の交流会を行います。
            br
            | フロントエンドエンジニアとデザイナーが交流しディレクションやフロントエンド、デザインなどの情報交換をLT形式で行います。
            br
            | 飛び込みLTも大歓迎です！
            br
            | その後、年末ということで忘年会を行います。
            br
            | 食べ物・飲み物の差し入れ大歓迎です！
            br
            | ぜひ、ご参加ください。
            br
            | ※未成年の方もご参加頂けますが、飲酒は禁止です。
          
          table.info_table
            tr
              th 日時
              td 2017年12月9日 16:00 〜 19:00
            tr
              th 会場
              td リードスペース株式会社 広島オフィス
                br
                | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
            tr
              th 定員
              td 20人
            tr
              th 参加費
              td #[strong 一般参加]： 1,000円
                br
                | #[strong LT参加]：500円
          
          table.timetable
            tr
              th(colspan="2") タイムテーブル
            tr
              th 16:00
              td あいさつ・注意事項
            tr
              th 16:30
              td LT1 「#[strong 勉強会をやる意味]」 井上 拓
            tr
              th 16:35
              td LT2 「体験！ インクルーシブなメニューボタン」 安倍 英樹
            tr
              th 16:40
              td LT3 「#[strong かみーゆ、AMP導入したってよ]」 神守 由理子
            tr
              th 16:45
              td LT4 「#[strong jQueryしか使っteサイト制作ことのない僕がVue.jsを触ってみた。]」 tanaka_web
            tr
              th 16:50
              td LT5 「#[strong  こんなディレクターはいやでござる。]」 榊原 裕希
            tr
              th 16:55
              td 休憩
            tr
              th 17:15
              td LT6 「#[strong 合字を使ってコーディング]」 井上 拓
            tr
              th 17:20
              td LT7 「#[strong 感覚で決めないデザインの間隔の話]」 タンタン
            tr
              th 17:25
              td LT8 「調整中」
            tr
              th 17:30
              td LT9 「調整中」
            tr
              th 17:35
              td LT10 「#[strong web制作におけるgitフロー]」 井上 拓
            tr
              th 17:40
              td ヒロフロ居酒屋 〜延長戦〜
            
              
        a.btn_entry(href="https://hfe.connpass.com/event/72073/", target="_blank") 参加登録はこちら
      
      article.about
        section.about_inner
          h2 広島フロントエンド勉強会について
          
          p 広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。
            br
            | 毎月テーマに沿って、ディスカッション形式でマークアップ、スタイリング等の疑問や悩みを解決しましょう。
            br
            | 共に疑問や悩みの解決、新たな技術の習得を通して広島のweb制作のレベルアップを目指します。
            br
            br
            br
            
          h2 デザイン部について
          
          p 広島でwebデザインを主軸にした勉強会が少なく、情報共有できるコミュニティーも少ないとの相談を受け、
            br
            | 広島フロントエンド勉強会の姉妹勉強会として「広島フロントエンド勉強会〜デザイン部〜」を立ち上げました。
            br
            | ツールの使い方から文字サイズや行間はどうやって決めるかなど素朴な疑問まで、
            br
            | 参加者全員で情報を共有し、広島のwebデザインのレベルアップを目指します！
            br
            br
            
            small ※広島フロントエンド勉強会はボランティアベースで開催しており、
              br
              | 知識のシェア・助け合いで成り立ってますので、ご参加の際はご理解・ご協力お願いいたします。
              br
              | ご理解いただけない場合は、参加をお断りすることがございます。
                
        section.member
          .member_item
            img(src="../common/img/inoue.jpg", alt="井上拓")
            h2 井上 拓
            ul
              li: a(href="https://funaffect.jp", target="_blank") ファナフェクト株式会社
              li フロントエンドエンジニア
              li CSS Nite in HIROSHIMA実行委員 副委員長
          
          .member_item
            img(src="../common/img/sakakibara.jpg", alt="榊原 裕希")
            h2 榊原 裕希
            ul
              li: a(href="https://www.m-field.biz/", target="_blank") リードスペース株式会社
              li フロントエンドエンジニア
          
          .member_item
            img(src="../common/img/tantan.png", alt="タンタン")
            h2 タンタン
            ul
              li: a(href="https://www.m-field.biz/", target="_blank") リードスペース株式会社
              li デザイナー

              
    footer.footer
      p &copy; 2016 広島フロントエンド勉強会
      
    
    a.btn_share(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhirofuro.org%2F&amp;src=sdkpreparse" target="_blank")
      i.icon-facebook-official
      span Facebookでシェア
    
    script(src="../common/js/jquery-3.2.1.min.js")
    script(src="../common/js/script.js")
    script(src="https://use.typekit.net/wwi8jbt.js")
    script.
      try{
        Typekit.load({ async: true });
      }catch(e){}
    script(src="../common/js/analytics.js")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=492512024277992";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
          
