doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    
    meta(property="og:title", content="広島フロントエンド勉強会")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://hirofuro.org/")
    meta(property="og:image", content="https://hirofuro.org/common/img/logo.png")
    meta(property="og:description", content="広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="")
    meta(name="twitter:title" content="広島フロントエンド勉強会")
    meta(name="twitter:description" content="広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。")
    meta(name="twitter:image" content="https://hirofuro.org/common/img/logo.png")
    
    script(type="application/ld+json").
      [{
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "広島フロントエンド勉強会 Vol.14 『Firebaseのはじめかた』",
        "startDate": "2017-12-01T19:00+09:00",
        "endDate": "2017-12-01T21:00+09:00",
        "url": "https://hirofuro.org#coding",
        "image":"http://hirofuro.org/common/img/logo.png",
        "location": {
          "@type": "Place",
          "name": "株式会社エム・フィールド 広島オフィス",
          "address": "広島県広島市中区上八丁堀7-5 ピロティーヒロシマビル2F",
          "url": "https://www.m-field.biz/company"
        },
        "offers": {
          "@type": "Offer",
          "price": "200",
          "priceCurrency": "JPY",
          "url": "https://hfe.connpass.com/event/71544/",
          "inventoryLevel": "販売中"
        },
        "Performer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://funaffect.jp"
        },
        "organizer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://funaffect.jp"
        },
        "description": "JavaScriptの標準仕様ECMAScriptが目まぐるしくアップデートされています。今回はECMAScript5とそれ以降では何が変わったのかを見てみましょう。"
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "広島フロントエンド勉強会 〜デザイン部〜 Vol.6 『ついに正式版に！Adobe XDを触ってみよう！』",
        "startDate": "2017-11-11T13:00+09:00",
        "endDate": "2017-11-11T15:00+09:00",
        "url": "https://hirofuro.org#design",
        "image":"https://scontent.xx.fbcdn.net/v/t31.0-8/17358623_279101885861556_1258037896068756591_o.jpg?oh=74aec32d700d186ff06137d59eab1988&oe=597A12BB",
        "location": {
          "@type": "Place",
          "name": "株式会社エム・フィールド 広島オフィス",
          "address": "広島県広島市中区上八丁堀7-5 ピロティーヒロシマビル2F",
          "url": "https://www.m-field.biz/company"
        },
        "offers": {
          "@type": "Offer",
          "price": "200",
          "priceCurrency": "JPY",
          "url": "https://hirofurodesign.connpass.com/event/70870/",
          "inventoryLevel": "販売中"
        },
        "Performer": {
          "@type": "Person",
          "name": "中井 誠也",
          "url": "https://www.rcnt.jp/"
        },
        "organizer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://funaffect.jp"
        },
        "description": "Adobeの製品の中で、デザインに活用できるツールは様々ありますが、その中でも比較的新しいAdobe XDについて実際に触っていきます。"
      }]
    
    link(rel="stylesheet", href="common/css/style.css")
    link(rel="stylesheet", href="common/fontello/css/fontello.css")
    title 広島フロントエンド勉強会
  body.index
    
    .go_top
      a(href="#") トップへ
    
    .top
      
      h1.logo(data-heading="広島フロントエンド勉強会") 広島フロントエンド勉強会
      
      .top_coding
        .top_introduction
          h2 広島フロントエンド勉強会 Vol.14 
          h3 『Firebaseのはじめかた』
          p.datetime 2017年12月1日 19:00 〜 21:00
          p.placce 株式会社エム・フィールド 広島オフィス
            br
            | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
          
          a.btn_entry(href="https://hfe.connpass.com/event/71544/", target="_blank") 参加登録はこちら
          
          a.btn_more(href="#coding") 詳しい情報を見る
          
          
      .top_design
        .top_introduction
          h2 広島フロントエンド勉強会 〜デザイン部〜 Vol.6
          h3 『ついに正式版に！Adobe XDを触ってみよう！』
          p.datetime 2017年11月11日 13:00 〜 15:00
          p.placce 株式会社エム・フィールド 広島オフィス
            br
            | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
          
            
          a.btn_entry.btn_none(href="https://hirofurodesign.connpass.com/event/70870/", target="_blank") 参加登録はこちら
          
          a.btn_more(href="#design") 詳しい情報を見る
      
      a.top_cafe(href="cafe.html")
        h3 ヒロフロ交流会
        p 2017年12月9日 16:00 〜 19:00
        p 詳細はこちら
      
    main#main.main
      
      article#coding
        section.introduction
          h2 広島フロントエンド勉強会 Vol.14
          h3 『Firebaseのはじめかた』
          
          p.text FirebaseはBaaS（Backend as a Service）と呼ばれるGoogleのクラウドサービスです。
            br
            | webアプリやスマートフォンアプリなどの面倒なバックエンドをGoogleに丸投げして、フロントエンドの開発に集中できます。
            br
            | リアルタイムデータベース、ユーザー認証、ホスティングなど多くの機能をFirebaseは提供してくれます。
            br
            | Firebaseの基本的な使い方を体験してみましょう。
          
          table.info_table
            tr
              th 日時
              td 2017年12月1日 19:00 〜 21:00
            tr
              th 会場
              td 株式会社エム・フィールド 広島オフィス
                br
                | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
            tr
              th 講師
              td
                a(href="https://funaffect.jp", target="_blank") ファナフェクト株式会社 
                strong 井上　拓
            tr
              th 定員
              td 15人
            tr
              th 参加費
              td 200円(会場費を割勘)
          
          //table.timetable
          //  tr
          //    th 12:30
          //    td 受付開始
          //  tr
          //    th 13:00
          //    td あいさつ・諸注意
          //  tr
          //    th 13:05
          //    td 調整中
          //  tr
          //    th 14:00
          //    td 休憩
          //  tr
          //    th 14:10
          //    td 調整中
          //  tr
          //    th 15:00
          //    td まとめ
              
          a.btn_entry(href="https://hfe.connpass.com/event/71544/", target="_blank") 参加登録はこちら
      
      article#design
        section.introduction
          h2 広島フロントエンド勉強会 〜デザイン部〜 Vol.6
          h3 『ついに正式版に！Adobe XDを触ってみよう！』
          
          p Adobeの製品の中で、デザインに活用できるツールは様々ありますが、その中でも比較的新しいAdobe XDについて実際に触っていきます。
          p 先日おこなわれた大幅なアップデートで、Adobe Experience Design ベータ版が正式にAdobe XDとして公開されました。
            br
            | もともとプロトタイピングツールとしての側面が強かった印象ですが、そこからデザインの成果物を制作できるほど機能が詰め込まれていて、知れば知るほど面白い、また、これからの進化が楽しみなツールでもあります。
          p 「とにかくもっとXDを使っていこう！」という気持ちではなくこういうやり方もある、一部でも業務に取り入れれば効率化できるかもしれない、そんな新たな発見や気づきのある会にしたいと思います。
          
          table.info_table
            tr
              th 日時
              td 2017年11月11日 13:00 〜 15:00
            tr
              th 会場
              td 株式会社エム・フィールド 広島オフィス
                br
                | (広島県広島市中区上八丁堀7-5 ピロティーヒロシマ2F)
            tr
              th 講師
              td
                a(href="https://www.rcnt.jp/", target="_blank") 株式会社リコネクト 
                strong 中井 誠也
            tr
              th 定員
              td 15人
            tr
              th 参加費
              td 200円(会場費を割勘)
          
          //table.timetable
          //  tr
          //    th 12:30
          //    td 受付開始
          //  tr
          //    th 13:00
          //    td あいさつ・諸注意
          //  tr
          //    th 13:05
          //    td 調整中
          //  tr
          //    th 13:50
          //    td 休憩
          //  tr
          //    th 14:00
          //    td 調整中
          //  tr
          //    th 14:50
          //    td まとめ
      
          a.btn_entry.btn_none(href="https://hirofurodesign.connpass.com/event/70870/", target="_blank") 参加登録はこちら
          
          
          
      article.about
        section.about_inner
          h2 広島フロントエンド勉強会について
          
          p 広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。
            br
            | 毎月テーマに沿って、ディスカッション形式でマークアップ、スタイリング等の疑問や悩みを解決しましょう。
            br
            | 共に疑問や悩みの解決、新たな技術の習得を通して広島のweb制作のレベルアップを目指します。
            br
            br
            br
            
          h2 デザイン部について
          
          p 広島でwebデザインを主軸にした勉強会が少なく、情報共有できるコミュニティーも少ないとの相談を受け、
            br
            | 広島フロントエンド勉強会の姉妹勉強会として「広島フロントエンド勉強会〜デザイン部〜」を立ち上げました。
            br
            | ツールの使い方から文字サイズや行間はどうやって決めるかなど素朴な疑問まで、
            br
            | 参加者全員で情報を共有し、広島のwebデザインのレベルアップを目指します！
            br
            br
            
            small ※広島フロントエンド勉強会はボランティアベースで開催しており、
              br
              | 知識のシェア・助け合いで成り立ってますので、ご参加の際はご理解・ご協力お願いいたします。
              br
              | ご理解いただけない場合は、参加をお断りすることがございます。
                
        section.member
          .member_item
            img(src="../common/img/inoue.jpg", alt="井上拓")
            h2 井上 拓
            ul
              li: a(href="https://funaffect.jp", target="_blank") ファナフェクト株式会社
              li フロントエンドエンジニア
              li CSS Nite in HIROSHIMA実行委員 副委員長
          
          .member_item
            img(src="../common/img/sakakibara.jpg", alt="榊原 裕希")
            h2 榊原 裕希
            ul
              li: a(href="https://www.m-field.biz/", target="_blank") 株式会社エム・フィールド
              li フロントエンドエンジニア
          
          .member_item
            img(src="../common/img/tantan.png", alt="タンタン")
            h2 タンタン
            ul
              li: a(href="https://www.m-field.biz/", target="_blank") 株式会社エム・フィールド
              li デザイナー

              
    footer.footer
      p &copy; 2016 広島フロントエンド勉強会
      
    
    a.btn_share(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhirofuro.org%2F&amp;src=sdkpreparse" target="_blank")
      i.icon-facebook-official
      span Facebookでシェア
    
    script(src="../common/js/jquery-3.2.1.min.js")
    script(src="../common/js/script.js")
    script(src="https://use.typekit.net/wwi8jbt.js")
    script.
      try{
        Typekit.load({ async: true });
      }catch(e){}
    script(src="../common/js/analytics.js")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=492512024277992";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
          
