doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    
    meta(property="og:title", content="広島フロントエンド勉強会 & 広島Unity勉強会　特別版")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://hirofuro.org/vr.html")
    meta(property="og:image", content="https://hirofuro.org/common/img/logo.png")
    meta(property="og:description", content="広島フロントエンド勉強会 & 広島Unity勉強会　特別版『webVRことはじめ』")
    
    script(type="application/ld+json").
      [{
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "広島フロントエンド勉強会 & 広島Unity勉強会　特別版 『webVRことはじめ』",
        "startDate": "2017-08-05T14:30+09:00",
        "endDate": "2017-08-05T17:30+09:00",
        "url": "https://hirofuro.org/vr.html",
        "image":"http://hirofuro.org/common/img/logo.png",
        "location": {
          "@type": "Place",
          "name": "合人社ウェンディひと・まちプラザ マルチメディア実習室",
          "address": "広島市中区袋町６番３６号",
          "url": "http://www.cf.city.hiroshima.jp/m-plaza/jissyu.html"
        },
        "offers": {
          "@type": "Offer",
          "price": "1000",
          "priceCurrency": "JPY",
          "url": "https://connpass.com/event/57458/",
          "inventoryLevel": "募集中"
        },
        "Performer": {
          "@type": "Person",
          "name": "中奥 貴浩",
          "url": "https://hiroshima-unity.jimdo.com/",
          "@type": "Person",
          "name": "常名 隆司",
          "url": "https://unity3d.com/jp",
          "@type": "Person",
          "name": "三島 冠太",
          "url": "https://hsc.connpass.com/",
          "@type": "Person",
          "name": "杉井 庸一"
        },
        "organizer": {
          "@type": "Person",
          "name": "井上拓",
          "url": "https://codecodeweb.com/",
          "@type": "Person",
          "name": "中奥 貴浩",
          "url": "https://hiroshima-unity.jimdo.com/"
        },
        "description": "最近話題のwebVRをはじめてみましょう。"
      }
    
    link(rel="stylesheet", href="common/css/style.css")
    link(rel="stylesheet", href="common/fontello/css/fontello.css")
    title 広島フロントエンド勉強会 & 広島Unity勉強会　特別版
  body.vrp
    
    .go_top
      a(href="#") トップへ
    
    .top
      
      h1.logo.vlogo 広島フロントエンド勉強会 & 広島Unity勉強会
        br
        | 特別版
      
      .top_vr
        .top_introduction
          h3 『これから始めるWebVR』
          p.datetime 2017年8月5日 14:30 〜 17:30
          p.placce 合人社ウェンディひと・まちプラザ マルチメディア実習室
            br 
            | (広島市中区袋町６番３６号)
          
          a.btn_entry(href="https://hfe.connpass.com/event/60118/", target="_blank") 参加登録はこちら
          
          a.btn_more(href="#vr") 詳しい情報を見る
          
    main#main.main
      
      article#vr
        section.introduction
          h2 広島フロントエンド勉強会 & 広島Unity勉強会　特別版
          h3 『これから始めるWebVR』
          
          p.text 近年、Oculus RiftやPS VRなどVRが話題となっています。
            br
            | webVRについてゲームエンジン「Unity」やwebVRフレームワーク「A-Frame」の使い方も交えつつ、webVRについて行います。
                    
          table.info_table
            tr
              th 日時
              td 2017年8月5日 14:30 〜 17:30
            tr
              th 会場
              td 合人社ウェンディひと・まちプラザ マルチメディア実習室
                br
                | (広島市中区袋町６番３６号)
            tr
              th 講師
              td
                strong 中奥 貴浩 
                a(href="https://hiroshima-unity.jimdo.com/" target="_blank") 広島Unity勉強会
                br
                strong 常名 隆司 
                a(href="https://unity3d.com/jp" target="_blank") ユニティ・テクノロジーズ・ジャパン
                br
                strong 三島 冠太 
                a(href="https://hsc.connpass.com/") Hiroshima Student Community
                br
                strong 杉井 庸一
                
            tr
              th 定員
              td 40人
            tr
              th 参加費
              td 1,000円(会場費を割勘)
          
          table.timetable
            tr
              th 14:30
              td 受付開始
            tr
              th 14:55
              td あいさつ・諸注意
            tr
              th 15:00
              td
                b 三島冠太 「そもそもVRとは？」
            tr
              th 15:20
              td: b 杉井庸一 「A-Frame詰め合わせ」
            tr
              th 16:00
              td 休憩
            tr
              th 16:10
              td スポンサーセッション
            tr
              th 16:15
              td: b 常名 隆司 「タイトル未定」
            tr
              th 16:55
              td: b 中奥貴浩 「VRUIベストプラクティス -VRは漫画だ-」
            tr
              th 17:15
              td 終了
              
          a.btn_entry(href="https://hfe.connpass.com/event/60118/", target="_blank") 参加登録はこちら
          
      
      article#sponsored
        section.introduction
          h3 スポンサー募集
          
          p 広島フロントエンド勉強会特別版では、スポンサーを募集しています。
            br
            | 金額に応じて、5分のスポンサーセッション、イベントページへのロゴの掲載、チラシの配布、休憩・受付中の告知・リクルートが可能です。
            br
            | プレゼント協賛も募集しています。
          .sponsored_table_wrap
            table.sponsored_table
              tr
                th
                th 10,000円(1口限定)
                th 7,000円(1口限定)
                th 5,000円(3口限定)
                th プレゼント協賛
              tr
                th 5分のスポンサーセッション
                td ○
                td ×
                td ×
                td ×
              tr
                th チラシの配布
                td ○
                td ○
                td ×
                td ×
              tr
                th 休憩・受付中の告知・リクルート(3分)
                td ○
                td ○
                td ○
                td ×
              tr
                th イベントページでのロゴ掲載
                td ○
                td ○
                td ○
                td ○
      
      article.contact
        section.introduction
          h3 お問い合わせ
          
          p メールフォームは#[a(href="https://formspree.io/", target="_blank") FORMSPREE]を使用しています。
            br
            | 送信ボタンを押したのちFORMSPREEにリダイレクトされ、「私はロボットではありません」にチェックを入れると、内容が送信されます。
                      
          form(action="https://formspree.io/inoue@codecodeweb.com" method="POST")
            label(for="name") お名前
            input(type="text" name="name" id="name")
            label(for="email") メールアドレス
            input(type="email" name="_replyto" id="email")
            label(for="company") 会社名
            input(type="text" name="company" id="company")
            label(for="message") メッセージ
            textarea(id="message" name="message", cols="30", rows="10")
            input(type="submit" value="送信")
        
      article.about
        section.about_inner
          h2 広島フロントエンド勉強会について
          
          p 広島フロントエンド勉強会は広島で活動するフロントエンドエンジニアの悩みを解決する集まりです。
            br
            | 毎月テーマに沿って、ディスカッション形式でマークアップ、スタイリング等の疑問や悩みを解決しましょう。
            br
            | 共に疑問や悩みの解決、新たな技術の習得を通して広島のweb制作のレベルアップを目指します。
            br
            br
            br
            
            small ※広島フロントエンド勉強会はボランティアベースで開催しており、
              br
              | 知識のシェア・助け合いで成り立ってますので、ご参加の際はご理解・ご協力お願いいたします。
              br
              | ご理解いただけない場合は、参加をお断りすることがございます。
                
              
    footer.footer
      p &copy; 2016 広島フロントエンド勉強会
      
    
    a.btn_share(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhirofuro.org%2F&amp;src=sdkpreparse" target="_blank")
      i.icon-facebook-official
      span Facebookでシェア
    
    script(src="../common/js/jquery-3.2.1.min.js")
    script(src="../common/js/script.js")
    script(src="https://use.typekit.net/wwi8jbt.js")
    script.
      try{
        Typekit.load({ async: true });
      }catch(e){}
    script(src="../common/js/analytics.js")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=492512024277992";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
          