html {
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

input,
select {
	vertical-align: middle;
}

input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #000;
	font-family: "游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	line-height: 1.5;
	background-color: #fff;
}

::-moz-selection,
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::-moz-selection,
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button,
input,
select,
textarea {
	color: #000;
	outline: none;
}

textarea {
	resize: vertical;
}

label,
input[type=submit] {
	cursor: pointer;
}

body {
	color: #333;
	font-size: 1.5rem;
	font-weight: 300;
	font-feature-settings: "palt" 1;
}

a {
	color: #333;
}

a:hover {
	opacity: .7;
}

.btn_share {
	position: fixed;
	right: 0;
	top: 0;
	width: 200px;
	height: 40px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #3b5998;
	color: #fff;
	z-index: 9999;
}

.btn_share i {
	margin-right: 10px;
	font-size: 2rem;
	padding-top: 6px;
	vertical-align: top;
}

.alerttext {
	font-size: 1.2rem !important;
	color: #eb593c;
}

.go_top {
	display: none;
}

.go_top a {
	position: fixed;
	right: 1vw;
	bottom: 8vh;
	z-index: 999;
	text-align: center;
	background-color: #eb593c;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #fff;
	font-weight: 100;
	padding-top: 5px;
	font-size: 1.3rem;
}

.go_top a::before {
	content: '';
	width: 15px;
	height: 15px;
	margin-bottom: 3px;
	border: 0px;
	border-top: solid 1px #fff;
	border-right: solid 1px #fff;
	transform: rotate(-45deg);
	transition-property: margin-top;
	transition-duration: .4s;
}

.go_top a:hover::before {
	margin-top: -15px;
}

.dn {
	display: none !important;
}

.logocafe {
	width: 100%;
	text-align: center;
	font-size: 5rem;
	top: 6vh;
	left: 0;
	margin: 0;
	position: absolute;
	color: #fffcec;
	white-space: nowrap;
	font-weight: 300;
	z-index: 99;
}

.logocafe span {
	font-feature-settings: "ss02";
	color: #333;
}

.index .logo {
	font-size: 5rem;
	top: 6vh;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #abdcd6;
	white-space: nowrap;
	font-weight: 300;
	z-index: 99;
}

.index .logo:before {
	content: attr(data-heading);
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 50%;
	color: #fffcec;
}

.index .logo img {
	vertical-align: bottom;
	border: solid 10px #fffcec;
}

.top {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.top .top_coding,
.top .top_design {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50%;
	height: 100vh;
	padding: 18vh 8vw 8vh;
}

.top .top_coding h2,
.top .top_design h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 200;
}

.top .top_coding h3,
.top .top_design h3 {
	font-size: 2.3rem;
	text-align: center;
	font-weight: 400;
	margin-bottom: 25px;
	color: #000;
}

.top .top_coding p,
.top .top_design p {
	font-size: 1.6rem;
	line-height: 2;
	text-align: center;
}

.top .top_coding .small,
.top .top_design .small {
	font-size: .7em;
	line-height: 1.4;
}

.top .top_coding .datetime,
.top .top_design .datetime {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 15px;
}

.top_coding {
	background-color: #abdcd6;
}

.top_design {
	background-color: #fffcec;
}

.top_sp {
	width: 100%;
	height: 15vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	background-color: #EB593C;
	color: #fff;
}

.top_sp h2 {
	font-size: 1.5rem;
}

.top_sp p {
	font-size: 1.3rem;
	margin-top: 5px;
}

.top_cafe {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 20vh;
	text-align: center;
	background-color: #dbabae;
	color: #fff;
}

.top_cafe h3 {
	font-size: 3rem;
	margin-bottom: 20px;
	font-weight: 400;
}

.top_cafe p {
	font-size: 2rem;
	font-weight: 200;
}

.cafe .top_coding {
	background-color: #abdcd6;
	width: 100%;
}

.cafe .top_introduction h2 {
	font-size: 3rem;
}

.btn_entry {
	display: block;
	max-width: 300px;
	margin: 30px auto 0;
	padding: 15px 0;
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
	border: solid 1px #eb593c;
	color: #fffcec;
	background-color: #eb593c;
	transition-property: background-color, color;
	transition-duration: .4s;
}

.btn_entry:hover {
	background-color: transparent;
	color: #eb593c;
}

.btn_entry+.btn_entry {
	margin-top: 10px;
}

.ap {
	background-color: #00bbd3;
	border: solid 1px #00bbd3;
}

.ap:hover {
	background-color: transparent;
	color: #00bbd3;
}

.btn_more {
	position: absolute;
	width: 200px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 5vh;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #333;
}

.btn_more::before {
	content: '';
	width: 15px;
	height: 15px;
	border: 0px;
	border-top: solid 1px #333;
	border-right: solid 1px #333;
	transform: rotate(135deg);
	position: absolute;
	top: 100%;
	right: 50%;
	bottom: 0;
	transition-property: top;
	transition-duration: .4s;
}

.btn_more:hover::before {
	top: 120%;
}

.btn_none {
	background-color: #a1a1a1;
	border: solid 1px #a1a1a1;
	color: #d1d0d2;
	cursor: text;
}

.btn_none:hover {
	background-color: #a1a1a1;
	color: #d1d0d2;
	opacity: 1;
}

#design {
	background-color: #f7f7f7;
}

#coding {
	background-color: #fff;
}

#sponsored {
	background-color: #f7f7f7;
}

.introduction {
	max-width: 980px;
	margin: 0 auto;
	padding: 100px 20px;
}

.introduction h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 200;
}

.introduction h3 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 400;
	margin-bottom: 40px;
	color: #000;
}

.introduction p {
	text-align: center;
	line-height: 2;
	margin-bottom: 30px;
	font-weight: 400;
}

.introduction .text {
	max-width: 700px;
	margin: 0 auto 30px;
}

.introduction .text a {
	text-decoration: underline;
}

.introduction .text a:hover {
	text-decoration: none;
}

.info_table,
.timetable {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.info_table th,
.timetable th,
.info_table td,
.timetable td {
	border: solid 1px #c3c3c3;
	padding: .5em 1em;
}

.info_table th,
.timetable th {
	font-weight: 400;
	width: 80px;
}

.info_table b,
.timetable b {
	font-weight: 400;
}

.info_table {
	margin-bottom: 40px;
}

.timetable tr:nth-child(even) {
	background: #f2f2f2;
}

.sponsored_table_wrap {
	overflow: scroll;
	width: 100%;
}

.sponsored_table {
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
}

.sponsored_table th,
.sponsored_table td {
	border: solid 1px #c3c3c3;
	padding: .5em 1em;
	vertical-align: middle;
	text-align: center;
}

.sponsored_table th {
	font-weight: 600;
	width: 80px;
}

.sponsored_table b {
	font-weight: 400;
}

.sponsored_table tr:nth-child(even) {
	background: #f2f2f2;
}

.sponsored_table tr:not(:first-child) th {
	text-align: left;
}

.about {
	padding: 100px 20px;
}

.about_inner {
	max-width: 980px;
	margin: 0 auto 50px;
}

.about_inner h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 400;
}

.about_inner p+h2 {
	margin-top: 40px;
}

.about_inner p {
	text-align: center;
	line-height: 2;
}

.about_inner p small {
	display: block;
	font-size: 1.3rem;
	line-height: 1.5;
	margin-top: 1em;
}

.member {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 980px;
	margin: 0 auto;
}

.member_item {
	text-align: center;
	padding: 0 30px;
}

.member_item img {
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.member_item img img {
	width: 100%;
	height: auto;
}

.member_item h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.member_item ul li {
	list-style: none;
}

.member_item ul li:first-child {
	font-weight: 400;
}

.member_item ul li:not(:last-child) {
	margin-bottom: 5px;
}

.member_item ul li a {
	color: #333;
}

.footer {
	padding: 10px;
	text-align: center;
	background-color: #333;
	color: #fff;
}

.footer p {
	font-size: 1.3rem;
	font-weight: 100;
}

.vrp .logo {
	position: absolute;
	top: 6vh;
	left: 0;
	right: 0;
	z-index: 99;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-size: 5rem;
	text-align: center;
}

.contact {
	border-bottom: solid 1px #333;
}

.contact form {
	display: block;
	max-width: 650px;
	margin: 0 auto;
}

.contact form label {
	display: block;
	margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
	display: block;
	border: none;
	border-radius: 0;
	background: none;
	width: 100%;
	padding: .5em;
	margin-bottom: 20px;
	font-size: 1.6rem;
	border: solid 1px #333;
}

.contact form input:focus,
.contact form textarea:focus {
	outline: none;
	border: solid 1px #abdcd6;
}

.contact form input[type=submit] {
	background-color: transparent;
	color: #333;
	transition-property: border,background-color, color;
	transition-duration: .4s;
}

.contact form input[type=submit]:hover {
	background-color: #abdcd6;
	color: #fff;
	border: solid 1px #abdcd6;
}

.btn_face {
	display: block;
	max-width: 300px;
	margin: 0 auto 0;
	padding: 10px 0;
	font-size: 1.4rem;
	text-align: center;
	text-decoration: none;
	border: solid 1px #eb593c;
	color: #fffcec;
	background-color: #eb593c;
	transition-property: background-color, color;
	transition-duration: .4s;
}

.btn_face:hover {
	background-color: transparent;
	color: #eb593c;
}

.btn_face+.btn_entry {
	margin-top: 10px;
}

.btn_face+.btn_face {
	margin-top: 10px;
}

@media screen and (max-width: 820px) {

.btn_share {
	top: auto;
	bottom: 0;
	left: 0;
	right: auto;
	width: 100%;
	height: 50px;
	padding: 2px 0 0 0;
	opacity: .7;
}

.go_top a {
	font-size: 1.2rem;
}

.go_top a::before {
	width: 10px;
	height: 10px;
}

.logocafe {
	font-size: 7.5vw;
	position: static;
	background-color: #abdcd6;
	padding: 20px 0 0;
}

.index .logo {
	transform: none;
	position: static;
	color: #000;
	text-align: center;
	padding: 20px 0 0;
	background-color: #abdcd6;
}

.index .logo:before {
	display: none;
}

.top {
	-ms-flex-direction: column;
	flex-direction: column;
}

.top .top_coding,
.top .top_design {
	width: 100%;
	height: auto;
	padding: 30px 20px;
}

.top .top_coding p,
.top .top_design p {
	text-align: justify;
}

.top .top_coding .datetime,
.top .top_design .datetime {
	text-align: center;
}

.top .top_coding .placce,
.top .top_design .placce {
	text-align: center;
}

.top_sp {
	height: auto;
	padding: 30px 0;
}

.top_sp h2 {
	font-size: 1.4rem;
}

.top_sp p {
	font-size: 1.2rem;
}

.top_cafe {
	height: auto;
	padding: 2em;
}

.cafe .top_coding {
	padding-bottom: 30px;
	min-height: auto;
	height: 70vh;
}

.cafe .top_introduction h2 {
	font-size: 1.8rem;
}

.btn_more {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	text-align: center;
	margin-top: 30px;
}

.introduction {
	padding: 80px env(safe-area-inset-right) 80px env(safe-area-inset-left);
}

.info_table,
.timetable {
	width: 100%;
}

.sponsored_table {
	width: 800px;
	margin: 0;
}

.about {
	padding: 80px env(safe-area-inset-right) 40px env(safe-area-inset-left);
}

.member {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
}

.member_item:not(:last-child) {
	margin-bottom: 30px;
}

.member_item ul li {
	font-size: 1.4rem;
}

.vrp .logo {
	position: static;
	color: #000;
	text-align: center;
	padding: 20px 0 0;
	background-color: #abdcd6;
	font-size: 6vw;
}

}

@media screen and (max-width: 812px) {

.cafe .top_coding {
	height: auto;
	min-height: 100vh;
	padding-bottom: 80px;
}

.cafe .top_coding .btn_more {
	bottom: 30px;
}

}

@media screen and (max-width: 640px) {

.index .logo {
	font-size: 8vw;
}

.introduction {
	padding: 60px 20px;
}

.introduction .text {
	text-align: justify;
}

.about {
	padding: 30px 20px;
}

.about_inner p {
	text-align: justify;
}

}


/*# sourceMappingURL=../map/style.css.map */
